#main-incial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 4.375rem
}

h1 {
    font: 400 4rem var(--font-krona-one);

    & span {
        color: var(--yellow);
    }
}

.description {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.375rem;

    & p {
        font: 400 1.25rem;

        & span {
            color: var(--yellow);
        }
    }
}

.btn-pages {
    display: flex;
    flex-direction: column;
    gap: 3.4375rem;

    & a {
        height: 4.375rem;
        background-color: var(--yellow);
        padding: 1.375rem 2.8125rem;
        border-radius: 1.25rem;
        text-align: center;
        text-decoration: none;
        color: var(--font-dark);

        &:hover {
            transition: .5s;
            background-color: #a58838;
        }
    }
}